version: "3.8"
services:
  minecraft:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      GENERIC_PACK: /modpacks/lolol-1.0.0.zip
      VERSION: "1.19.2"
      MEMORY: "5G"
      MAX_MEMORY: "8G"
    volumes:
      - minecraft-data:/data
    restart: unless-stopped

volumes:
  minecraft-data: