version: "3.8"

services:
  minecraft:
    build: .
    container_name: minecraft-server
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: "NEOFORGE"
      VERSION: "1.21.1"
      MEMORY: "5G"
      REMOVE_OLD_MODS: "TRUE"
    volumes:
      - ./minecraft-data:/data
    stdin_open: true
    tty: true
    restart: unless-stopped