version: "3.8"
services:
  minecraft:
    build: .
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      TYPE: ${TYPE}
      CF_API_KEY: ${CF_API_KEY}
      CF_SERVER_MOD: /modpacks/lolol-1.0.0.zip
      VERSION: ${VERSION}
      MEMORY: ${MEMORY}
      MAX_MEMORY: ${MAX_MEMORY}
      EULA: ${EULA}
    volumes:
      - minecraft-data:/data
    restart: unless-stopped

volumes:
  minecraft-data: