version: "3.8"
services:
  minecraft:
    image: itzg/minecraft-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      TYPE: ${TYPE}
      CF_API_KEY: ${CF_API_KEY}
      CF_MODPACK_ZIP: ${CF_MODPACK_ZIP}
      MEMORY: ${MEMORY}
      MAX_MEMORY: ${MAX_MEMORY}
      EULA: ${EULA}
    volumes:
      - minecraft-data:/data
      - ./:/modpacks:ro
    restart: unless-stopped

volumes:
  minecraft-data: