version: "3.8"
services:
  minecraft:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: AUTO_CURSEFORGE
      CF_API_KEY: ${CF_API_KEY}
      CF_MODPACK_ZIP: /tmp/modpack.zip
      CF_SLUG: "custom"
      MEMORY: "5G"
      MAX_MEMORY: "8G"
    volumes:
      - minecraft-data:/data
    restart: unless-stopped

volumes:
  minecraft-data: