version: "3.8"

services:
  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft-server
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: "NEOFORGE"
      VERSION: "1.21.1"
      MEMORY: "5G"
    volumes:
      - ./minecraft-data:/data
      - ./mods:/data/mods
    stdin_open: true
    tty: true
    restart: unless-stopped